flows.json
[{"id":"1bc6c1c6.6f941e","type":"tab","label":"Sensor control","disabled":false,"info":""},{"id":"d8566c86.00ffd","type":"tab","label":"BME280 Input","disabled":false,"info":""},{"id":"cc7918b2.b73e48","type":"tab","label":"ADXL345 Input","disabled":false,"info":""},{"id":"cfdfc95d.52b548","type":"tab","label":"Scientifc Working input","disabled":false,"info":""},{"id":"cad46d4c.c5de6","type":"mqtt-broker","name":"Cloud-MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bd6b8d79.13455","type":"ui_tab","name":"Environmental sensors","icon":"dashboard","disabled":false,"hidden":false},{"id":"11296961.37e737","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b37d361.41c9fc","type":"ui_group","name":"IDAC RPi 1","tab":"bd6b8d79.13455","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d83fe09.6026d","type":"ui_group","name":"Status","tab":"ec05fd99.f305f","order":3,"disp":true,"width":"6","collapse":false},{"id":"ec05fd99.f305f","type":"ui_tab","name":"Control","icon":"settings","order":2,"disabled":false,"hidden":false},{"id":"1ee07ab.17f3f85","type":"ui_group","name":"Environmental parameters","tab":"ec05fd99.f305f","order":1,"disp":true,"width":"6","collapse":false},{"id":"203e4083.36ff8","type":"ui_group","name":"Acceleration parameters","tab":"ec05fd99.f305f","order":2,"disp":true,"width":"6","collapse":false},{"id":"18f0f026.1c0e8","type":"ui_group","name":"IDAC RPi 2","tab":"bd6b8d79.13455","order":2,"disp":true,"width":"6","collapse":false},{"id":"edf68d7e.156f9","type":"ui_group","name":"IDAC RPi 3","tab":"bd6b8d79.13455","order":3,"disp":true,"width":"6","collapse":false},{"id":"a8d6c9b0.b4e608","type":"ui_group","name":"IDAC RPi 4","tab":"bd6b8d79.13455","order":4,"disp":true,"width":"6","collapse":false},{"id":"32dc8def.6a8ac2","type":"ui_group","name":"IDAC RPi 5","tab":"bd6b8d79.13455","order":5,"disp":true,"width":"6","collapse":false},{"id":"8bb3482.42b73b8","type":"ui_tab","name":"Acceleration sensors","icon":"dashboard","disabled":false,"hidden":false},{"id":"71736591.44c40c","type":"ui_group","name":"IDAC RPi 1","tab":"8bb3482.42b73b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f5d788b.c61ff8","type":"MySQLdatabase","name":"Measurements DB","host":"localhost","port":"3306","db":"measurements","tz":"","charset":"UTF8"},{"id":"3ab45d56.446322","type":"ui_group","name":"Queries","tab":"ec05fd99.f305f","order":4,"disp":true,"width":"6","collapse":false},{"id":"dfb4a60f.d788f8","type":"ui_group","name":"Data Export","tab":"48418b79.0f5834","order":1,"disp":true,"width":"12"},{"id":"48418b79.0f5834","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1},{"id":"e7c0de75.6d64b","type":"ui_group","name":"Entfeuchter Chart","tab":"52e9e30f.d04acc","order":2,"disp":true,"width":"6","collapse":false},{"id":"52e9e30f.d04acc","type":"ui_tab","name":"Entfeuchter","icon":"dashboard","order":4},{"id":"331b069.e04d4fa","type":"ui_tab","name":"Scientific Working","icon":"dashboard","disabled":false,"hidden":false},{"id":"3676e813.605338","type":"ui_group","name":"Conventional WSS","tab":"331b069.e04d4fa","order":2,"disp":true,"width":"6","collapse":false},{"id":"ff3f41bb.4f188","type":"ui_group","name":"IDAC RPi 2","tab":"8bb3482.42b73b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a0887e48.0cde3","type":"ui_group","name":"IDAC RPi 3","tab":"8bb3482.42b73b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"f8259f10.93e0a","type":"ui_group","name":"IDAC RPi 4","tab":"8bb3482.42b73b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"f55fb831.d91698","type":"ui_group","name":"IDAC RPi 5","tab":"8bb3482.42b73b8","order":5,"disp":true,"width":"6","collapse":false},{"id":"4d20d8d2.e25078","type":"ui_group","name":"Control and settings","tab":"331b069.e04d4fa","order":1,"disp":true,"width":"6","collapse":false},{"id":"262295cc.c7f14a","type":"ui_group","name":"Queries","tab":"331b069.e04d4fa","order":4,"disp":true,"width":"8","collapse":false},{"id":"bbd6c134.2600d","type":"ui_group","name":"Sustainable WSS","tab":"331b069.e04d4fa","order":3,"disp":true,"width":"6","collapse":false},{"id":"599e29fe.895a28","type":"mqtt out","z":"d8566c86.00ffd","name":"","topic":"test","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":370,"y":280,"wires":[]},{"id":"49a929d0.346348","type":"inject","z":"d8566c86.00ffd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"","payloadType":"date","x":160,"y":280,"wires":[["599e29fe.895a28","236d1675.05a15a"]]},{"id":"1066a744.249fa9","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"7b37d361.41c9fc","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1340,"y":140,"wires":[[]]},{"id":"2a203c20.5510f4","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"7b37d361.41c9fc","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":280,"wires":[[]]},{"id":"4a0e6f82.ae79c","type":"function","z":"d8566c86.00ffd","name":"","func":"var buffer=msg.payload.result;\nmsg.payload.result = Math.round(buffer * 100) / 100;\nmsg.payload.resultRaw = buffer;\nmsg.payload.node = msg.topic.split(\"/\")[2]\nmsg.payload.measurement = msg.topic.split(\"/\")[4]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":560,"wires":[["be0703d8.78c0d","b81b2768.e6cc98"]]},{"id":"7367d427.20079c","type":"json","z":"d8566c86.00ffd","name":"","property":"payload","action":"","pretty":false,"x":390,"y":560,"wires":[["4a0e6f82.ae79c"]]},{"id":"9f2a6d0b.b24dc","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"7b37d361.41c9fc","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity %RH","label":"units","format":"{{msg.payload.result}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":80,"wires":[]},{"id":"3c8268e0.dbae48","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"7b37d361.41c9fc","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature in Celsius","label":"units","format":"{{msg.payload.result}}","min":"-10","max":"50","colors":["#b30000","#26e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":220,"wires":[]},{"id":"5249ef3c.d5efc","type":"ui_button","z":"1bc6c1c6.6f941e","name":"btStart","group":"8d83fe09.6026d","order":7,"width":0,"height":0,"passthru":false,"label":"Start measuring","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"1","payloadType":"str","topic":"nodes/start","topicType":"str","x":90,"y":1040,"wires":[["c88192db.7e02b"]]},{"id":"1cb53a5c.1d03e6","type":"mqtt out","z":"1bc6c1c6.6f941e","name":"","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":590,"y":1040,"wires":[]},{"id":"a1773641.32c3a8","type":"mqtt in","z":"1bc6c1c6.6f941e","name":"","topic":"nodes/status/+","qos":"2","datatype":"auto","broker":"cad46d4c.c5de6","nl":false,"rap":true,"rh":0,"x":120,"y":780,"wires":[["2f30fa3f.42d0b6","be90a16f.b3ab4"]]},{"id":"4c5b7f76.c24dc","type":"switch","z":"1bc6c1c6.6f941e","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"idacrpi1","vt":"str"},{"t":"eq","v":"idacrpi2","vt":"str"},{"t":"eq","v":"idacrpi3","vt":"str"},{"t":"eq","v":"idacrpi4","vt":"str"},{"t":"eq","v":"idacrpi5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":670,"y":780,"wires":[["41d77ec2.b0d86"],["dd558338.226a9"],["f8091464.9008d8"],["71495d7c.be0744"],["e7ad4143.7fc64"]]},{"id":"41d77ec2.b0d86","type":"ui_text","z":"1bc6c1c6.6f941e","group":"8d83fe09.6026d","order":1,"width":0,"height":0,"name":"IDACRPi1","label":"IDAC RPi 1","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":540,"wires":[]},{"id":"dd558338.226a9","type":"ui_text","z":"1bc6c1c6.6f941e","group":"8d83fe09.6026d","order":2,"width":0,"height":0,"name":"IDACRPi2","label":"IDAC RPi 2","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":580,"wires":[]},{"id":"f8091464.9008d8","type":"ui_text","z":"1bc6c1c6.6f941e","group":"8d83fe09.6026d","order":3,"width":0,"height":0,"name":"IDACRPi3","label":"IDAC RPi 3","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":620,"wires":[]},{"id":"71495d7c.be0744","type":"ui_text","z":"1bc6c1c6.6f941e","group":"8d83fe09.6026d","order":4,"width":0,"height":0,"name":"IDACRPi4","label":"IDAC RPi 4","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":660,"wires":[]},{"id":"e7ad4143.7fc64","type":"ui_text","z":"1bc6c1c6.6f941e","group":"8d83fe09.6026d","order":5,"width":0,"height":0,"name":"IDACRPi5","label":"IDAC RPi 5","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":700,"wires":[]},{"id":"2f30fa3f.42d0b6","type":"json","z":"1bc6c1c6.6f941e","name":"","property":"payload","action":"","pretty":false,"x":310,"y":780,"wires":[["972b501f.7985f","be90a16f.b3ab4"]]},{"id":"f3d47a87.334308","type":"inject","z":"1bc6c1c6.6f941e","name":"echo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"nodes/echo","payload":"{\"status\":\"Updating status\"}","payloadType":"json","x":110,"y":540,"wires":[["9dcae1bb.96b5a","da6f6e91.a03dd"]]},{"id":"9dcae1bb.96b5a","type":"mqtt out","z":"1bc6c1c6.6f941e","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":270,"y":540,"wires":[]},{"id":"da6f6e91.a03dd","type":"function","z":"1bc6c1c6.6f941e","name":"status_updating","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":500,"wires":[["41d77ec2.b0d86","dd558338.226a9","f8091464.9008d8","71495d7c.be0744","e7ad4143.7fc64"]]},{"id":"972b501f.7985f","type":"function","z":"1bc6c1c6.6f941e","name":"update_json","func":"var sensors = \"\";\nfor (let i = 0; i <msg.payload.sensorList.length; i ++) {\n  sensors += msg.payload.sensorList[i].type + \",\";\n}\nmsg.payload.sensors = sensors.slice(0, -1);\nmsg.payload.status = msg.topic.split(\"/\")[2]+\": \"+msg.payload.sensors\n\nvar statuses = flow.get(\"status\") || [msg.topic.split(\"/\")[2]];\nif(!statuses.includes(msg.topic.split(\"/\")[2]))\n{\n    flow.statuses.push(msg.topic.split(\"/\")[2]);\n}\nflow.set(\"statuses\", statuses);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":780,"wires":[["4c5b7f76.c24dc","b704aa5e.df3758"]]},{"id":"126d940e.0179dc","type":"ui_text_input","z":"1bc6c1c6.6f941e","name":"","label":"Measure every (s)","tooltip":"How often the measurement should be taken (in seconds)","group":"1ee07ab.17f3f85","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":290,"y":60,"wires":[["f41bf788.e5d118"]]},{"id":"f41bf788.e5d118","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"measureEveryN","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":60,"wires":[[]]},{"id":"9b3af3bd.30851","type":"ui_text_input","z":"1bc6c1c6.6f941e","name":"","label":"Seconds measuring (s)","tooltip":"Tthe number of seconds for each measuring","group":"203e4083.36ff8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":310,"y":200,"wires":[["3ff7ce4e.2904c2"]]},{"id":"3ff7ce4e.2904c2","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"secondsMeasuring","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[[]]},{"id":"b5e66e22.a01d","type":"ui_text_input","z":"1bc6c1c6.6f941e","name":"","label":"Sampling rate (Hz)","tooltip":"Divisor of 1000, i.e. 25, 50, 100, 125, 200, and 250","group":"203e4083.36ff8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":290,"y":240,"wires":[["61e885d8.90d8ac"]]},{"id":"61e885d8.90d8ac","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"samplingRate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[[]]},{"id":"bc004ad0.619628","type":"ui_text_input","z":"1bc6c1c6.6f941e","name":"","label":"Number of peaks","tooltip":"The number of peaks for the Peak Picking analysis","group":"203e4083.36ff8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":290,"y":280,"wires":[["daa1b40e.b789e8"]]},{"id":"daa1b40e.b789e8","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"numberOfPeaks","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":280,"wires":[[]]},{"id":"472bbe18.62a38","type":"ui_text_input","z":"1bc6c1c6.6f941e","d":true,"name":"","label":"Direction (X, Y or Z)","tooltip":"If you want to use more than one, separate them with a comma and no spaces in between (e.g. X,Z)","group":"203e4083.36ff8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":290,"y":320,"wires":[["c116dc21.066c1"]]},{"id":"c116dc21.066c1","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"direction","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[[]]},{"id":"b078d016.f8efb","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":110,"y":60,"wires":[["126d940e.0179dc"]]},{"id":"d0c4d974.200708","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":110,"y":200,"wires":[["9b3af3bd.30851"]]},{"id":"2449d3d2.3570bc","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":110,"y":240,"wires":[["b5e66e22.a01d"]]},{"id":"42a0496d.17d2b8","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":110,"y":280,"wires":[["bc004ad0.619628"]]},{"id":"57c07262.fbf6fc","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Z","payloadType":"str","x":110,"y":320,"wires":[["472bbe18.62a38","c116dc21.066c1"]]},{"id":"886ef3b4.95c4d","type":"ui_button","z":"1bc6c1c6.6f941e","name":"btParameters","group":"8d83fe09.6026d","order":6,"width":0,"height":0,"passthru":false,"label":"Send parameters","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"","payloadType":"str","topic":"nodes/parameters","topicType":"str","x":120,"y":880,"wires":[["437f2dc2.59a7c4"]]},{"id":"2a556daf.771172","type":"mqtt out","z":"1bc6c1c6.6f941e","name":"","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":590,"y":880,"wires":[]},{"id":"437f2dc2.59a7c4","type":"function","z":"1bc6c1c6.6f941e","name":"generateParameters","func":"var statuses = flow.get(\"statuses\") || [];\n\nif(!statuses.includes(\"connected\"))\n{\n    throw \"No nodes waiting for parameters\";\n}\nelse\n{\n    const index = statuses.indexOf(\"connected\");\n    if (index > -1) {\n      statuses.splice(index, 1);\n    }\n\n    var parametersFile={\n        \"sensorTypeList\":[\"Environmental\",\"Accelerometer\"],\n        \"parameterMap\":{\n            \"Accelerometer.SecondsMeasuring\":flow.get(\"secondsMeasuring\"),\n            \"Accelerometer.SamplingRate\":flow.get(\"samplingRate\"),\n            \"Accelerometer.NumberOfPeaks\":flow.get(\"numberOfPeaks\"),\n            \"Accelerometer.Direction\":flow.get(\"direction\"),\n            \"Accelerometer.MeasureEveryNSeconds\":flow.get(\"measureEveryNAcc\"),\n            \"Accelerometer.Measure\":flow.get(\"measureAcc\"),\n            \"Accelerometer.Repetitions\":flow.get(\"repetitionsAcc\"),\n            \"Environmental.MeasureEveryNSeconds\":flow.get(\"measureEveryN\"),\n            \"Environmental.Measure\":flow.get(\"measure\"),\n            \"Environmental.Repetitions\":flow.get(\"repetitions\")\n        }\n    };\n    msg.payload = parametersFile;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":880,"wires":[["2a556daf.771172","b704aa5e.df3758"]]},{"id":"b8d731c0.1281a","type":"ui_text","z":"1bc6c1c6.6f941e","group":"8d83fe09.6026d","order":7,"width":0,"height":0,"name":"error","label":"","format":"<font color=red> {{msg.payload}} </font>","layout":"col-center","x":1070,"y":1160,"wires":[]},{"id":"293c2c11.851b94","type":"catch","z":"1bc6c1c6.6f941e","name":"","scope":null,"uncaught":false,"x":100,"y":1160,"wires":[["a590402c.97e64"]]},{"id":"b0b99e6c.542d4","type":"debug","z":"1bc6c1c6.6f941e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1220,"wires":[]},{"id":"a590402c.97e64","type":"function","z":"1bc6c1c6.6f941e","name":"","func":"msg.payload = \"Error: \"+msg.error.message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1160,"wires":[["b8d731c0.1281a","b0b99e6c.542d4"]]},{"id":"b704aa5e.df3758","type":"function","z":"1bc6c1c6.6f941e","name":"resetError","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":960,"wires":[["b8d731c0.1281a"]]},{"id":"c88192db.7e02b","type":"function","z":"1bc6c1c6.6f941e","name":"sendStartSignal","func":"var statuses = flow.get(\"statuses\") || [];\n\nif(!statuses.includes(\"ready\"))\n{\n    throw \"No nodes ready to start\";\n}\nelse\n{\n    const index = statuses.indexOf(\"ready\");\n    if (index > -1) {\n      statuses.splice(index, 1);\n    }\n\n    msg.payload = \"1\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1040,"wires":[["1cb53a5c.1d03e6","b704aa5e.df3758"]]},{"id":"9bbbedba.01ef2","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"nodes/start","payload":"","payloadType":"str","x":140,"y":1320,"wires":[["1b666c20.f8a434"]]},{"id":"1b666c20.f8a434","type":"mqtt out","z":"1bc6c1c6.6f941e","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":320,"y":1340,"wires":[]},{"id":"ace28173.daf07","type":"mqtt in","z":"d8566c86.00ffd","name":"","topic":"nodes/data/+/Environmental/+","qos":"2","datatype":"auto","broker":"cad46d4c.c5de6","nl":false,"rap":true,"rh":0,"x":160,"y":560,"wires":[["7367d427.20079c"]]},{"id":"be0703d8.78c0d","type":"switch","z":"d8566c86.00ffd","name":"node","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"idacrpi1","vt":"str"},{"t":"eq","v":"idacrpi2","vt":"str"},{"t":"eq","v":"idacrpi3","vt":"str"},{"t":"eq","v":"idacrpi4","vt":"str"},{"t":"eq","v":"idacrpi5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":730,"y":560,"wires":[["d4cda741.3cb6e8"],["18bc546.0f4c7ac"],["c92eb665.7144d8"],["200c3c6.13fe5c4"],["b1a0ff7e.f2bf1"]]},{"id":"d4cda741.3cb6e8","type":"switch","z":"d8566c86.00ffd","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Humidity in % RH","vt":"str"},{"t":"eq","v":"Temperature in Celsius","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":180,"wires":[["9f2a6d0b.b24dc","165a7314.33718d"],["3c8268e0.dbae48","ce94ef27.07666"]]},{"id":"165a7314.33718d","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":140,"wires":[["1066a744.249fa9"]]},{"id":"ce94ef27.07666","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":280,"wires":[["2a203c20.5510f4"]]},{"id":"cd7d923b.2c61e","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"18f0f026.1c0e8","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1340,"y":420,"wires":[[]]},{"id":"c5248134.6f0c1","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"18f0f026.1c0e8","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":560,"wires":[[]]},{"id":"bddb407.fd686c","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"18f0f026.1c0e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity %RH","label":"units","format":"{{msg.payload.result}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":360,"wires":[]},{"id":"a8de4ccc.a55eb","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"18f0f026.1c0e8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature in Celsius","label":"units","format":"{{msg.payload.result}}","min":"-10","max":"50","colors":["#b30000","#26e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":500,"wires":[]},{"id":"18bc546.0f4c7ac","type":"switch","z":"d8566c86.00ffd","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Humidity in % RH","vt":"str"},{"t":"eq","v":"Temperature in Celsius","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":460,"wires":[["bddb407.fd686c","44f1dfdc.03141"],["a8de4ccc.a55eb","8073a18a.92bfd"]]},{"id":"44f1dfdc.03141","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":420,"wires":[["cd7d923b.2c61e"]]},{"id":"8073a18a.92bfd","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":560,"wires":[["c5248134.6f0c1"]]},{"id":"46107357.02259c","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"edf68d7e.156f9","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1340,"y":700,"wires":[[]]},{"id":"22b4053.f7088fa","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"edf68d7e.156f9","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":840,"wires":[[]]},{"id":"8a55bd9d.53034","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"edf68d7e.156f9","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity %RH","label":"units","format":"{{msg.payload.result}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":640,"wires":[]},{"id":"71e64ff3.c005f","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"edf68d7e.156f9","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature in Celsius","label":"units","format":"{{msg.payload.result}}","min":"-10","max":"50","colors":["#b30000","#26e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":780,"wires":[]},{"id":"c92eb665.7144d8","type":"switch","z":"d8566c86.00ffd","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Humidity in % RH","vt":"str"},{"t":"eq","v":"Temperature in Celsius","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":740,"wires":[["8a55bd9d.53034","cb124ce7.eabff"],["71e64ff3.c005f","a9e78958.0cfe68"]]},{"id":"cb124ce7.eabff","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":700,"wires":[["46107357.02259c"]]},{"id":"a9e78958.0cfe68","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":840,"wires":[["22b4053.f7088fa"]]},{"id":"79b24a63.362394","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"a8d6c9b0.b4e608","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1340,"y":980,"wires":[[]]},{"id":"e5eebd3d.66959","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"a8d6c9b0.b4e608","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":1120,"wires":[[]]},{"id":"9eda1405.6e8078","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"a8d6c9b0.b4e608","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity %RH","label":"units","format":"{{msg.payload.result}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":920,"wires":[]},{"id":"7e50580b.4b48b8","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"a8d6c9b0.b4e608","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature in Celsius","label":"units","format":"{{msg.payload.result}}","min":"-10","max":"50","colors":["#b30000","#26e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":1060,"wires":[]},{"id":"200c3c6.13fe5c4","type":"switch","z":"d8566c86.00ffd","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Humidity in % RH","vt":"str"},{"t":"eq","v":"Temperature in Celsius","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":1020,"wires":[["9eda1405.6e8078","ddc5f743.4cdf48"],["7e50580b.4b48b8","e4485c77.35c5e"]]},{"id":"ddc5f743.4cdf48","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":980,"wires":[["79b24a63.362394"]]},{"id":"e4485c77.35c5e","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1120,"wires":[["e5eebd3d.66959"]]},{"id":"c95e3f12.dcd2a","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"32dc8def.6a8ac2","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1340,"y":1240,"wires":[[]]},{"id":"4e93c447.c299dc","type":"ui_chart","z":"d8566c86.00ffd","name":"","group":"32dc8def.6a8ac2","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":1380,"wires":[[]]},{"id":"da1766bb.dba4c8","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"32dc8def.6a8ac2","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity %RH","label":"units","format":"{{msg.payload.result}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":1180,"wires":[]},{"id":"d4e5ae80.eda66","type":"ui_gauge","z":"d8566c86.00ffd","name":"","group":"32dc8def.6a8ac2","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature in Celsius","label":"units","format":"{{msg.payload.result}}","min":"-10","max":"50","colors":["#b30000","#26e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":1320,"wires":[]},{"id":"b1a0ff7e.f2bf1","type":"switch","z":"d8566c86.00ffd","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Humidity in % RH","vt":"str"},{"t":"eq","v":"Temperature in Celsius","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":1280,"wires":[["da1766bb.dba4c8","3d90d6b2.6ddaaa"],["d4e5ae80.eda66","e4d206d1.e00008"]]},{"id":"3d90d6b2.6ddaaa","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1240,"wires":[["c95e3f12.dcd2a"]]},{"id":"e4d206d1.e00008","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1380,"wires":[["4e93c447.c299dc"]]},{"id":"39971205.8f798e","type":"ui_text_input","z":"1bc6c1c6.6f941e","name":"","label":"Measure every (s)","tooltip":"How often the measurement should be taken (in seconds)","group":"203e4083.36ff8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":290,"y":360,"wires":[["5dfb47c3.e84c88"]]},{"id":"5dfb47c3.e84c88","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"measureEveryNAcc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[[]]},{"id":"eee15d15.2b948","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":360,"wires":[["39971205.8f798e"]]},{"id":"eb89d370.e5654","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"71736591.44c40c","order":2,"width":"6","height":"6","label":"Raw accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"99999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":80,"wires":[[]]},{"id":"3e24bcdc.639a14","type":"function","z":"cc7918b2.b73e48","name":"","func":"var buffer = msg.payload;\nvar measurement = msg.topic.split(\"/\")[4];\nvar campaignTimestamp = new Date(msg.payload.campaignTimestamp);\n\nswitch(measurement){\n    case \"Peaks\":\n        let peaks = {\n            X: [],\n            Y: [],\n            Z: []\n        };\n        \n        if (buffer.X.length > 0){\n            campaignTimestamp = buffer.X[0].campaignTimestamp;\n        }\n        else if (buffer.Y.length > 0){\n            campaignTimestamp = buffer.Y[0].campaignTimestamp;\n        }\n        else if (buffer.Z.length > 0){\n            campaignTimestamp = buffer.Z[0].campaignTimestamp;\n        }\n        \n        for(let peak of buffer.X){\n            peaks.X.push(peak.result);\n        }\n        for(let peak of buffer.Y){\n            peaks.Y.push(peak.result);\n        }\n        for(let peak of buffer.Z){\n            peaks.Z.push(peak.result);\n        }\n        buffer = peaks;\n        break;\n    default:\n        if (buffer.X.length > 0){\n            campaignTimestamp = buffer.X[0].campaignTimestamp;\n        }\n        else if (buffer.Y.length > 0){\n            campaignTimestamp = buffer.Y[0].campaignTimestamp;\n        }\n        else if (buffer.Z.length > 0){\n            campaignTimestamp = buffer.Z[0].campaignTimestamp;\n        }\n        \n        //the following is based on\n        //https://discourse.nodered.org/t/manipulate-vector-for-dashboard-chart-node/25298/3\n        \n        //1. lets create a variable to hold the final chart data...\n        let chartData = [];  //See #1 - create an empty array\n        \n        //2. lets create a variable to hold the observations...\n        let element1 = {};  //create element1 as an empty object {}\n        \n        //3, now add the .property \"series\" to the element1 {object}\n        //We can create several series to plot different lines in the chart\n        element1.series = []; // add a .property called series of type [array]\n        element1.series.push(measurement + \" X\"); //add 1st array element \"Acceleration\"\n        element1.series.push(measurement + \" Y\"); //add 1st array element \"Acceleration\"\n        element1.series.push(measurement + \" Z\"); //add 1st array element \"Acceleration\"\n        \n        //4. now add the .property \"data\" to the element1 {object}\n        element1.data = []; // add a .property called data of type [array]\n        \n        //4b. now we add 3 arrays to the data [array]\n        //In here, we can have several arrays, one for every series we have\n        var dataElementX = [];\n        var dataElementY = [];\n        var dataElementZ = [];\n        \n        //4c. now add the 3 {objects} inside each of the dataElements\n        for(let observation of buffer.X){\n            switch (measurement){\n                case \"Frequencies\":\n                    dataElementX.push( {  //add the observation values\n                        \"x\": observation.value1,  \n                        \"y\": observation.value2 \n                    });\n                    break;\n                default:\n                    dataElementX.push( {  //add the observation values\n                        \"x\": observation.timestamp,  \n                        \"y\": observation.result \n                    });\n            }\n        }\n        for(let observation of buffer.Y){\n            switch (measurement){\n                case \"Frequencies\":\n                    dataElementY.push( {  //add the observation values\n                        \"x\": observation.value1,  \n                        \"y\": observation.value2 \n                    });\n                    break;\n                default:\n                    dataElementY.push( {  //add the observation values\n                        \"x\": observation.timestamp,  \n                        \"y\": observation.result \n                    });\n            }\n        }\n        for(let observation of buffer.Z){\n            switch (measurement){\n                case \"Frequencies\":\n                    dataElementZ.push( {  //add the observation values\n                        \"x\": observation.value1,  \n                        \"y\": observation.value2 \n                    });\n                    break;\n                default:\n                    dataElementZ.push( {  //add the observation values\n                        \"x\": observation.timestamp,  \n                        \"y\": observation.result \n                    });\n            }\n        }\n        \n        //now we need to push the dataelements into the data [array]\n        element1.data.push(dataElementX);\n        element1.data.push(dataElementY);\n        element1.data.push(dataElementZ);\n        \n        /*******************************************/\n        \n        //5. now add a labels [array] to element1\n        element1.labels = []; // add a .property called labels of type [array]\n        element1.labels.push(\"X\");\n        element1.labels.push(\"Y\");\n        element1.labels.push(\"Z\");\n        \n        //Now add the element1 [array] into the chartData [array]\n        chartData.push(element1)\n        //here ends the preparation of data based on\n        //https://discourse.nodered.org/t/manipulate-vector-for-dashboard-chart-node/25298/3\n        \n        buffer = chartData;\n}\n\nmsg.payload = {\n    node: msg.topic.split(\"/\")[2],\n    measurement: measurement,\n    observations: buffer,\n    campaignTimestamp: campaignTimestamp\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["247998a4.82d9a8","f2e377d5.e5fbd8","5109b595.6075fc"]]},{"id":"e4d1e2c5.2c367","type":"json","z":"cc7918b2.b73e48","name":"","property":"payload","action":"","pretty":false,"x":370,"y":520,"wires":[["3e24bcdc.639a14","f2e377d5.e5fbd8"]]},{"id":"eafb25f.7d80bd8","type":"mqtt in","z":"cc7918b2.b73e48","name":"","topic":"nodes/data/+/Accelerometer/+","qos":"2","datatype":"auto","broker":"cad46d4c.c5de6","nl":false,"rap":true,"rh":0,"x":140,"y":520,"wires":[["e4d1e2c5.2c367","f2e377d5.e5fbd8"]]},{"id":"247998a4.82d9a8","type":"switch","z":"cc7918b2.b73e48","name":"node","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"idacrpi1","vt":"str"},{"t":"eq","v":"idacrpi2","vt":"str"},{"t":"eq","v":"idacrpi3","vt":"str"},{"t":"eq","v":"idacrpi4","vt":"str"},{"t":"eq","v":"idacrpi5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":710,"y":520,"wires":[["45b95adf.991124"],["3824ec14.8569d4"],["f84d64f5.3f5948"],["17b0dc09.8d3d54"],["d298b024.309ac"]]},{"id":"45b95adf.991124","type":"switch","z":"cc7918b2.b73e48","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Accelerations","vt":"str"},{"t":"eq","v":"Corrected accelerations","vt":"str"},{"t":"eq","v":"Frequencies","vt":"str"},{"t":"eq","v":"Peaks","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":140,"wires":[["ab299330.eef59"],["d13f483a.920338"],["353f2255.064f8e"],["6f258ebb.44514"]]},{"id":"6f258ebb.44514","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":200,"wires":[["19cf2d.976aa0d3"]]},{"id":"236d1675.05a15a","type":"debug","z":"d8566c86.00ffd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":380,"wires":[]},{"id":"a59881cd.875c1","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"7b37d361.41c9fc","order":8,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":80,"wires":[[]]},{"id":"bd97959b.cad9e8","type":"inject","z":"cc7918b2.b73e48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["73e20e79.b9b55"]]},{"id":"f2e377d5.e5fbd8","type":"debug","z":"cc7918b2.b73e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"73e20e79.b9b55","type":"function","z":"cc7918b2.b73e48","name":"","func":"//1. lets create a variable to hold the finished article...\nlet chartData = [];  //See #1 - create an empty array\n\n//2. lets create a variable to hold the everything...\nlet element1 = {};  //create element1 as an empty object {}\n\n//3, now add the .property \"series\" to the element1 {object}\nelement1.series = []; // add a .property called series of type [array]\nelement1.series.push(\"Count\"); //add 1st array element \"A\"\n\n//4. now add the .property \"data\" to the element1 {object}\nelement1.data = []; // add a .property called data of type [array]\n\n\n\n/*********** NEXT - ADDING DATA  ***************************\n  NORMALLY, ADDING DATA WOULD BE DYNAMIC \n  PERHAPS LOOPING THROUGH AN ARRAY\n  THIS EXAMPLE SHOWS ADDING HARD CODED VALUES\n************************************************************/\n//4b. now we add 3 arrays to the data [array]\nvar dataElement1 = [];\nvar dataElement2 = [];\nvar dataElement3 = [];\n\n//4c. now add the 3 {objects} inside each of the dataElements\ndataElement1.push( { \"x\": Date.now()+1,  \"y\": 5 }); //add hard coded x & y values\ndataElement1.push( { \"x\": Date.now()+2,  \"y\": 4 }); //add hard coded x & y values\ndataElement1.push( { \"x\": Date.now()+3,  \"y\": 2 }); //add hard coded x & y values\n\n//now we need to push the dataelements into the data [array]\nelement1.data.push(dataElement1);\n\n/*******************************************/\n\n//5. now add a labels [array] to element1\nelement1.labels = []; // add a .property called labels of type [array]\nelement1.labels.push(\"\"); //add an empty string to the \"labels\" [array]\n\n//Now add the element1 [array] into the chartData [array]\nchartData.push(element1)\n\n//Lastly, return the chartData as the payload \nmsg.payload = chartData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":120,"wires":[["f2e377d5.e5fbd8","a59881cd.875c1"]]},{"id":"fdd0bc59.9eccf","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"71736591.44c40c","order":3,"width":"6","height":"6","label":"Corrected accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":120,"wires":[[]]},{"id":"19cf2d.976aa0d3","type":"ui_text","z":"cc7918b2.b73e48","group":"71736591.44c40c","order":5,"width":0,"height":0,"name":"","label":"Detected peaks","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":200,"wires":[]},{"id":"55ad0e5d.f2993","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"measure","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":100,"wires":[[]]},{"id":"a452b854.15ed48","type":"ui_switch","z":"1bc6c1c6.6f941e","name":"","label":"Perform measurement","tooltip":"Defines if the measurement will be performed","group":"1ee07ab.17f3f85","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":300,"y":100,"wires":[["55ad0e5d.f2993"]]},{"id":"6f4ace4f.9e76a","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":100,"wires":[["a452b854.15ed48"]]},{"id":"7ee1d935.581568","type":"ui_switch","z":"1bc6c1c6.6f941e","name":"","label":"Perform measurement","tooltip":"Defines if the measurement will be performed","group":"203e4083.36ff8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":300,"y":400,"wires":[["47bc484d.c4c068"]]},{"id":"1fdb9fbc.2a8b1","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":400,"wires":[["7ee1d935.581568"]]},{"id":"47bc484d.c4c068","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"measureAcc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[[]]},{"id":"ab299330.eef59","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":80,"wires":[["eb89d370.e5654"]]},{"id":"d13f483a.920338","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":120,"wires":[["fdd0bc59.9eccf"]]},{"id":"353f2255.064f8e","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":160,"wires":[["ae24e499.55d0f8"]]},{"id":"ae24e499.55d0f8","type":"ui_chart","z":"cc7918b2.b73e48","name":"","group":"71736591.44c40c","order":4,"width":"6","height":"6","label":"Frequencies","chartType":"line","legend":"true","xformat":"SSSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999999999999999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":160,"wires":[[]]},{"id":"24c79ea7.f1d402","type":"mysql","z":"d8566c86.00ffd","mydb":"6f5d788b.c61ff8","name":"","x":650,"y":740,"wires":[[]]},{"id":"b81b2768.e6cc98","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload=[new Date(msg.payload.campaignTimestamp), \n             msg.payload.measurement,\n             new Date(msg.payload.timestamp),\n             parseInt(msg.payload.node.substring(msg.payload.node.length - 1)), \n             msg.payload.resultRaw];\nmsg.topic=\"INSERT INTO observation \"+\n          \"(`campaignTimestamp`, `feature`, `timestamp`, \"+\n          \"`sensor_node_ID`, `result`) VALUES \"+\n          \"(?, ?, ?, ?, ?);\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":740,"wires":[["24c79ea7.f1d402"]]},{"id":"24fe6d51.0d69a2","type":"inject","z":"d8566c86.00ffd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":860,"wires":[["a03e8bd2.e55098"]]},{"id":"a03e8bd2.e55098","type":"function","z":"d8566c86.00ffd","name":"","func":"msg.payload=[new Date(1622803573000), \n             \"XXX\",\n             new Date(1622803573000),\n             1, \n             0.23,\n             new Date(1622803574000), \n             \"XXX\",\n             new Date(1622803574000),\n             1, \n             0.5];\nmsg.topic=\"INSERT INTO observation \"+\n          \"(`campaignTimestamp`, `feature`, `timestamp`, \"+\n          \"`sensor_node_ID`, `result`) VALUES \"+\n          \"(?, ?, ?, ?, ?),(?, ?, ?, ?, ?);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":840,"wires":[["24c79ea7.f1d402"]]},{"id":"4f5554f2.eb9cdc","type":"mysql","z":"cc7918b2.b73e48","mydb":"6f5d788b.c61ff8","name":"","x":550,"y":720,"wires":[[]]},{"id":"5109b595.6075fc","type":"function","z":"cc7918b2.b73e48","name":"","func":"var campaignTimestamp = new Date(msg.payload.campaignTimestamp);\nvar measurement = msg.payload.measurement;\nvar node = parseInt(msg.payload.node.substring(msg.payload.node.length - 1));\nvar buffer = msg.payload.observations;\n\nvar payload = [];\nvar topic = \"\";\nvar counter = 0;\nvar axis = \"\";\nvar i = 0;\n\nswitch(measurement){\n    case \"Peaks\":\n        for(let peak of buffer.X){\n            payload.push(campaignTimestamp);\n            payload.push(node);\n            payload.push(peak);\n            topic+=\"UPDATE frequency SET peak=1 WHERE campaignTimestamp=? AND sensor_node_ID=? and frequency=? AND axis='X';\";\n        }\n        \n        for(let peak of buffer.Y){\n            payload.push(campaignTimestamp);\n            payload.push(node);\n            payload.push(peak);\n            topic+=\"UPDATE frequency SET peak=1 WHERE campaignTimestamp=? AND sensor_node_ID=? and frequency=? AND axis='Y';\";\n        }\n        \n        for(let peak of buffer.Z){\n            payload.push(campaignTimestamp);\n            payload.push(node);\n            payload.push(peak);\n            topic+=\"UPDATE frequency SET peak=1 WHERE campaignTimestamp=? AND sensor_node_ID=? and frequency=? AND axis='Z';\";\n        }\n        break;\n    case \"Frequencies\":\n        buffer = buffer[0].data;\n        \n        topic = \"INSERT INTO frequency \"+\n                \"(`campaignTimestamp`, `axis`, `sensor_node_ID`, \"+\n                \"`frequency`, `amplitude`, `peak`) VALUES \";\n              \n        for(i = 0; i < buffer.length; ++i){\n            switch(i){\n                case 0: \n                    axis = \"X\";\n                    break;\n                case 1: \n                    axis = \"Y\";\n                    break;\n                case 2: \n                    axis = \"Z\";\n                    break;\n            }\n            for(let pair of buffer[i]){\n                payload.push(campaignTimestamp);\n                payload.push(axis);\n                payload.push(node);\n                payload.push(pair.x);\n                payload.push(pair.y);\n                \n                topic += \"(?, ?, ?, ?, ?, 0),\";\n            }\n        }\n        topic = topic.substring(0, topic.length - 1) + \";\";\n        break;\n    default:\n        buffer = buffer[0].data;\n                \n        topic = \"INSERT INTO observation \"+\n                \"(`campaignTimestamp`, `feature`, `timestamp`, \"+\n                \"`sensor_node_ID`, `result`) VALUES \";\n              \n        for(i = 0; i < buffer.length; ++i){\n            switch(i){\n                case 0: \n                    axis = \"X\";\n                    break;\n                case 1: \n                    axis = \"Y\";\n                    break;\n                case 2: \n                    axis = \"Z\";\n                    break;\n            }\n            for(let pair of buffer[i]){\n                payload.push(campaignTimestamp);\n                payload.push(measurement.substring(0, measurement.length - 1) + \" \" + axis);\n                payload.push(new Date(pair.x));\n                payload.push(node);\n                payload.push(pair.y);\n                \n                topic += \"(?, ?, ?, ?, ?),\";\n            }\n        }\n        topic = topic.substring(0, topic.length - 1) + \";\";\n}\n\nmsg.payload = payload;\nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":720,"wires":[["4f5554f2.eb9cdc"]]},{"id":"80cde615.166028","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"fromDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1440,"wires":[[]]},{"id":"6d58d260.8a2fac","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"toDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1480,"wires":[[]]},{"id":"87b81fa.a1b65e","type":"ui_button","z":"1bc6c1c6.6f941e","name":"btDownloadAcc","group":"3ab45d56.446322","order":7,"width":0,"height":0,"passthru":false,"label":"Create accelerations file","tooltip":"","color":"","bgcolor":"","icon":"file_download","payload":"1","payloadType":"str","topic":"nodes/start","topicType":"str","x":120,"y":1520,"wires":[["da559778.38a7e8"]]},{"id":"8c9bf41b.77bc78","type":"ui_date_picker","z":"1bc6c1c6.6f941e","name":"fromDate","label":"From date","group":"3ab45d56.446322","order":5,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":300,"y":1440,"wires":[["80cde615.166028"]]},{"id":"eda4e867.a51bd8","type":"ui_date_picker","z":"1bc6c1c6.6f941e","name":"toDate","label":"To date","group":"3ab45d56.446322","order":6,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":290,"y":1480,"wires":[["6d58d260.8a2fac"]]},{"id":"da559778.38a7e8","type":"function","z":"1bc6c1c6.6f941e","name":"","func":"msg.payload=[new Date(flow.get(\"fromDate\")),\n             new Date(flow.get(\"toDate\"))];\nmsg.topic=\"SELECT sensor_node_ID, campaignTimestamp, timestamp, MAX(CASE WHEN feature like '%X' THEN result END) as X, MAX(CASE WHEN feature like '%Y' THEN result END) as Y, MAX(CASE WHEN feature like '%Z' THEN result END) as Z FROM observation WHERE DATE(timestamp) between DATE(?) AND DATE(?) AND Feature like 'Acceleration%' GROUP BY sensor_node_ID, campaignTimestamp, timestamp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1520,"wires":[["8954b41a.d89898"]]},{"id":"8954b41a.d89898","type":"mysql","z":"1bc6c1c6.6f941e","mydb":"6f5d788b.c61ff8","name":"","x":570,"y":1520,"wires":[["c6a5a00d.763e3"]]},{"id":"10acaa52.7ac9f6","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1440,"wires":[["8c9bf41b.77bc78"]]},{"id":"ac7ede9e.1a293","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1480,"wires":[["eda4e867.a51bd8"]]},{"id":"c6a5a00d.763e3","type":"csv","z":"1bc6c1c6.6f941e","name":"","sep":",","hdrin":"","hdrout":"all","multi":"mult","ret":"\\n","temp":"sensor_node_ID, campaignTimestamp, timestamp, X, Y, Z","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":1520,"wires":[["56dc5cd4.578f74"]]},{"id":"56dc5cd4.578f74","type":"file","z":"1bc6c1c6.6f941e","name":"","filename":"data.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":900,"y":1520,"wires":[["b0b99e6c.542d4","b1ad3f6d.e7df5"]]},{"id":"f33ccc1a.5f3fb","type":"ui_template","z":"1bc6c1c6.6f941e","group":"3ab45d56.446322","name":"ui_temlplate - present download links on dashboard","order":0,"width":0,"height":0,"format":"<div >\n    <a href=\"/files/{{msg.payload}}\">{{msg.payload}}</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1130,"y":1760,"wires":[["b704aa5e.df3758"]]},{"id":"1b688542.d64b6b","type":"function","z":"1bc6c1c6.6f941e","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"/home/idac/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1860,"wires":[["a7f18cd4.dda53"],["d6dba41c.82b938"]]},{"id":"d6dba41c.82b938","type":"http response","z":"1bc6c1c6.6f941e","name":"","statusCode":"","headers":{},"x":790,"y":1900,"wires":[]},{"id":"a7f18cd4.dda53","type":"file in","z":"1bc6c1c6.6f941e","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":630,"y":1840,"wires":[["d6dba41c.82b938","253c134d.50494c"]]},{"id":"8893fdf3.eb47","type":"http in","z":"1bc6c1c6.6f941e","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":270,"y":1860,"wires":[["1b688542.d64b6b"]]},{"id":"b1ad3f6d.e7df5","type":"function","z":"1bc6c1c6.6f941e","name":"","func":"msg.payload = \"data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1520,"wires":[["f33ccc1a.5f3fb"]]},{"id":"253c134d.50494c","type":"function","z":"1bc6c1c6.6f941e","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1820,"wires":[["f33ccc1a.5f3fb"]]},{"id":"5f1bdeea.3fd79","type":"ui_button","z":"1bc6c1c6.6f941e","name":"btDownloadCorrAcc","group":"3ab45d56.446322","order":7,"width":0,"height":0,"passthru":false,"label":"Create corrected accelerations file","tooltip":"","color":"","bgcolor":"","icon":"file_download","payload":"1","payloadType":"str","topic":"nodes/start","topicType":"str","x":140,"y":1560,"wires":[["a72deac4.82c848"]]},{"id":"a72deac4.82c848","type":"function","z":"1bc6c1c6.6f941e","name":"","func":"msg.payload=[new Date(flow.get(\"fromDate\")),\n             new Date(flow.get(\"toDate\"))];\nmsg.topic=\"SELECT sensor_node_ID, campaignTimestamp, timestamp, MAX(CASE WHEN feature like '%X' THEN result END) as X, MAX(CASE WHEN feature like '%Y' THEN result END) as Y, MAX(CASE WHEN feature like '%Z' THEN result END) as Z FROM observation WHERE DATE(timestamp) between DATE(?) AND DATE(?) AND Feature like 'Corrected acceleration%' GROUP BY sensor_node_ID, campaignTimestamp, timestamp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1560,"wires":[["8954b41a.d89898"]]},{"id":"441f293c.e8b1e8","type":"ui_button","z":"1bc6c1c6.6f941e","name":"btDownloadFreq","group":"3ab45d56.446322","order":7,"width":0,"height":0,"passthru":false,"label":"Create frequencies/amplitudes file","tooltip":"","color":"","bgcolor":"","icon":"file_download","payload":"1","payloadType":"str","topic":"nodes/start","topicType":"str","x":120,"y":1600,"wires":[["dce5bf43.e1a71"]]},{"id":"dce5bf43.e1a71","type":"function","z":"1bc6c1c6.6f941e","name":"","func":"msg.payload=[new Date(flow.get(\"fromDate\")),\n             new Date(flow.get(\"toDate\"))];\nmsg.topic=\"SELECT sensor_node_ID, campaignTimestamp, frequency, MAX(CASE WHEN axis like 'X' THEN amplitude END) as X, MAX(CASE WHEN axis like 'Y' THEN amplitude END) as Y, MAX(CASE WHEN axis like 'Z' THEN amplitude END) as Z FROM frequency WHERE DATE(campaignTimestamp) between DATE(?) AND DATE(?) GROUP BY sensor_node_ID, campaignTimestamp, frequency\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1600,"wires":[["604359a0.39d998"]]},{"id":"19c64ef4.c4d931","type":"ui_button","z":"1bc6c1c6.6f941e","name":"btDownloadEnvironment","group":"3ab45d56.446322","order":7,"width":0,"height":0,"passthru":false,"label":"Create environmental file","tooltip":"","color":"","bgcolor":"","icon":"file_download","payload":"1","payloadType":"str","topic":"nodes/start","topicType":"str","x":150,"y":1640,"wires":[["982fce7a.b288b"]]},{"id":"982fce7a.b288b","type":"function","z":"1bc6c1c6.6f941e","name":"","func":"msg.payload=[new Date(flow.get(\"fromDate\")),\n             new Date(flow.get(\"toDate\"))];\nmsg.topic=\"SELECT campaignTimestamp, timestamp, MAX(CASE WHEN feature like 'Humidity%' THEN result END) as Humidity, MAX(CASE WHEN feature like 'Pressure%' THEN result END) as Pressure, MAX(CASE WHEN feature like 'Temperature%' THEN result END) as Temperature FROM `observation` WHERE feature in('Temperature in Celsius','Pressure in hPa','Humidity in % RH') AND DATE(timestamp) between DATE(?) AND DATE(?) GROUP BY campaignTimestamp, timestamp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1640,"wires":[["969ce19a.74004"]]},{"id":"969ce19a.74004","type":"mysql","z":"1bc6c1c6.6f941e","mydb":"6f5d788b.c61ff8","name":"","x":570,"y":1640,"wires":[["7cde6693.9e8ce8"]]},{"id":"7cde6693.9e8ce8","type":"csv","z":"1bc6c1c6.6f941e","name":"","sep":",","hdrin":"","hdrout":"all","multi":"mult","ret":"\\n","temp":"campaignTimestamp, timestamp,Humidity,Pressure,Temperature","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":1640,"wires":[["56dc5cd4.578f74"]]},{"id":"604359a0.39d998","type":"mysql","z":"1bc6c1c6.6f941e","mydb":"6f5d788b.c61ff8","name":"","x":570,"y":1600,"wires":[["6fb0b9f8.775958"]]},{"id":"6fb0b9f8.775958","type":"csv","z":"1bc6c1c6.6f941e","name":"","sep":",","hdrin":"","hdrout":"all","multi":"mult","ret":"\\n","temp":"sensor_node_ID, campaignTimestamp, frequency, X, Y, Z","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":1600,"wires":[["56dc5cd4.578f74"]]},{"id":"be90a16f.b3ab4","type":"debug","z":"1bc6c1c6.6f941e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":700,"wires":[]},{"id":"cc4db675.620308","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":660,"wires":[["be90a16f.b3ab4"]]},{"id":"b8c61e3f.92929","type":"mqtt out","z":"1bc6c1c6.6f941e","name":"","topic":"hello","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":290,"y":600,"wires":[]},{"id":"7a7412a8.70854c","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":620,"wires":[["b8c61e3f.92929"]]},{"id":"8fce612b.52843","type":"function","z":"cfdfc95d.52b548","name":"","func":"var buffer=msg.payload.result;\nmsg.payload.result = Math.round(buffer * 100) / 100;\nmsg.payload.resultRaw = buffer;\nmsg.payload.node = msg.topic.split(\"/\")[2]\nmsg.payload.measurement = msg.topic.split(\"/\")[4]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":140,"wires":[["9b43f660.01f018","9544697e.60fd48"]]},{"id":"724014f.453f6ec","type":"json","z":"cfdfc95d.52b548","name":"","property":"payload","action":"","pretty":false,"x":430,"y":140,"wires":[["8fce612b.52843"]]},{"id":"c0736ab.37bdb98","type":"mqtt in","z":"cfdfc95d.52b548","name":"","topic":"nodes/data/+/ScientificWorkingConv/+","qos":"2","datatype":"auto","broker":"cad46d4c.c5de6","nl":false,"rap":true,"rh":0,"x":210,"y":140,"wires":[["724014f.453f6ec"]]},{"id":"9b43f660.01f018","type":"switch","z":"cfdfc95d.52b548","name":"node","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"idacrpi1","vt":"str"},{"t":"eq","v":"idacrpi2","vt":"str"},{"t":"eq","v":"idacrpi3","vt":"str"},{"t":"eq","v":"idacrpi4","vt":"str"},{"t":"eq","v":"idacrpi5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":750,"y":140,"wires":[[],[],[],[],["8897e2da.5dc41"]]},{"id":"3529964a.8cfb7a","type":"ui_chart","z":"cfdfc95d.52b548","name":"","group":"3676e813.605338","order":0,"width":0,"height":0,"label":"Temperature in ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":120,"wires":[[]],"outputLabels":["C"]},{"id":"2a29856f.40893a","type":"ui_chart","z":"cfdfc95d.52b548","name":"","group":"3676e813.605338","order":0,"width":0,"height":0,"label":"Water level in mm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":180,"wires":[[]]},{"id":"4ec34ca4.37dcc4","type":"ui_gauge","z":"cfdfc95d.52b548","d":true,"name":"","group":"3676e813.605338","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.result}}","min":"-10","max":"50","colors":["#b30000","#04e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":60,"wires":[]},{"id":"8897e2da.5dc41","type":"switch","z":"cfdfc95d.52b548","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"TemperatureConv","vt":"str"},{"t":"eq","v":"DistanceConv","vt":"str"},{"t":"eq","v":"TurbidityConv","vt":"str"},{"t":"eq","v":"VoltageConv","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":180,"wires":[["4ec34ca4.37dcc4","3fd4c63c.89b3ba"],["23371d29.c58da2"],["fdbd52e1.0e314"],["8257a5d3.ab8398"]]},{"id":"3fd4c63c.89b3ba","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":120,"wires":[["3529964a.8cfb7a"]]},{"id":"23371d29.c58da2","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":180,"wires":[["2a29856f.40893a"]]},{"id":"189612.107189ef","type":"mysql","z":"cfdfc95d.52b548","mydb":"6f5d788b.c61ff8","name":"","x":710,"y":240,"wires":[[]]},{"id":"9544697e.60fd48","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload=[new Date(msg.payload.campaignTimestamp), \n             msg.payload.measurement + \" - SW conventional\",\n             new Date(msg.payload.timestamp),\n             parseInt(msg.payload.node.substring(msg.payload.node.length - 1)), \n             msg.payload.resultRaw];\nmsg.topic=\"INSERT INTO observation \"+\n          \"(`campaignTimestamp`, `feature`, `timestamp`, \"+\n          \"`sensor_node_ID`, `result`) VALUES \"+\n          \"(?, ?, ?, ?, ?);\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":240,"wires":[["189612.107189ef"]]},{"id":"ff58a8d0.9d8b08","type":"ui_chart","z":"cfdfc95d.52b548","name":"","group":"3676e813.605338","order":0,"width":0,"height":0,"label":"Turbidity in NTU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1340,"y":240,"wires":[[]]},{"id":"fdbd52e1.0e314","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":240,"wires":[["ff58a8d0.9d8b08"]]},{"id":"31b9f52d.c73f1a","type":"ui_chart","z":"cfdfc95d.52b548","d":true,"name":"","group":"3676e813.605338","order":0,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1320,"y":300,"wires":[[]]},{"id":"8257a5d3.ab8398","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":300,"wires":[["31b9f52d.c73f1a"]]},{"id":"18a031a4.01c8ee","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":320,"wires":[["4ec34ca4.37dcc4","3529964a.8cfb7a","2a29856f.40893a","ff58a8d0.9d8b08","31b9f52d.c73f1a"]]},{"id":"69e7feb.6690c","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"ff3f41bb.4f188","order":1,"width":"6","height":"6","label":"Raw accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"99999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":260,"wires":[[]]},{"id":"3824ec14.8569d4","type":"switch","z":"cc7918b2.b73e48","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Accelerations","vt":"str"},{"t":"eq","v":"Corrected accelerations","vt":"str"},{"t":"eq","v":"Frequencies","vt":"str"},{"t":"eq","v":"Peaks","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":320,"wires":[["337304d.567c0fc"],["ab7c1663.72e038"],["1dfa0f6c.450081"],["9bb12b4a.7b9e98"]]},{"id":"9bb12b4a.7b9e98","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":380,"wires":[["99c4457d.bbc2d8"]]},{"id":"bcdfbe3e.d7715","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"ff3f41bb.4f188","order":2,"width":"6","height":"6","label":"Corrected accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":300,"wires":[[]]},{"id":"99c4457d.bbc2d8","type":"ui_text","z":"cc7918b2.b73e48","group":"ff3f41bb.4f188","order":4,"width":0,"height":0,"name":"","label":"Detected peaks","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":380,"wires":[]},{"id":"337304d.567c0fc","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":260,"wires":[["69e7feb.6690c"]]},{"id":"ab7c1663.72e038","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":300,"wires":[["bcdfbe3e.d7715"]]},{"id":"1dfa0f6c.450081","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":340,"wires":[["5241c3ca.3cc13c"]]},{"id":"5241c3ca.3cc13c","type":"ui_chart","z":"cc7918b2.b73e48","name":"","group":"ff3f41bb.4f188","order":2,"width":"6","height":"6","label":"Frequencies","chartType":"line","legend":"true","xformat":"SSSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999999999999999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":340,"wires":[[]]},{"id":"d097353e.892568","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"a0887e48.0cde3","order":1,"width":"6","height":"6","label":"Raw accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"99999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":440,"wires":[[]]},{"id":"f84d64f5.3f5948","type":"switch","z":"cc7918b2.b73e48","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Accelerations","vt":"str"},{"t":"eq","v":"Corrected accelerations","vt":"str"},{"t":"eq","v":"Frequencies","vt":"str"},{"t":"eq","v":"Peaks","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":500,"wires":[["3e9f6fe4.4a12c"],["a5a38182.7bac4"],["c48098bf.b3f638"],["2470421a.2f9ebe"]]},{"id":"2470421a.2f9ebe","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":560,"wires":[["5a2c7bd6.fc6b74"]]},{"id":"95772a92.ff4da8","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"a0887e48.0cde3","order":2,"width":"6","height":"6","label":"Corrected accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":480,"wires":[[]]},{"id":"5a2c7bd6.fc6b74","type":"ui_text","z":"cc7918b2.b73e48","group":"a0887e48.0cde3","order":4,"width":0,"height":0,"name":"","label":"Detected peaks","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":560,"wires":[]},{"id":"3e9f6fe4.4a12c","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":440,"wires":[["d097353e.892568"]]},{"id":"a5a38182.7bac4","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":480,"wires":[["95772a92.ff4da8"]]},{"id":"c48098bf.b3f638","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":520,"wires":[["dd89c179.7848"]]},{"id":"dd89c179.7848","type":"ui_chart","z":"cc7918b2.b73e48","name":"","group":"a0887e48.0cde3","order":2,"width":"6","height":"6","label":"Frequencies","chartType":"line","legend":"true","xformat":"SSSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999999999999999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":520,"wires":[[]]},{"id":"ce6b63ae.f6025","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"f8259f10.93e0a","order":1,"width":"6","height":"6","label":"Raw accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"99999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":620,"wires":[[]]},{"id":"17b0dc09.8d3d54","type":"switch","z":"cc7918b2.b73e48","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Accelerations","vt":"str"},{"t":"eq","v":"Corrected accelerations","vt":"str"},{"t":"eq","v":"Frequencies","vt":"str"},{"t":"eq","v":"Peaks","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":680,"wires":[["14c3526f.c9d92e"],["f2e26424.962c88"],["d8455b07.dd7758"],["91acda91.5c66d8"]]},{"id":"91acda91.5c66d8","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":740,"wires":[["f465c164.0d82e"]]},{"id":"d7c9cca3.d3485","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"f8259f10.93e0a","order":2,"width":"6","height":"6","label":"Corrected accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":660,"wires":[[]]},{"id":"f465c164.0d82e","type":"ui_text","z":"cc7918b2.b73e48","group":"f8259f10.93e0a","order":4,"width":0,"height":0,"name":"","label":"Detected peaks","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":740,"wires":[]},{"id":"14c3526f.c9d92e","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":620,"wires":[["ce6b63ae.f6025"]]},{"id":"f2e26424.962c88","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":660,"wires":[["d7c9cca3.d3485"]]},{"id":"d8455b07.dd7758","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":700,"wires":[["89a6e7f3.82bbf8"]]},{"id":"89a6e7f3.82bbf8","type":"ui_chart","z":"cc7918b2.b73e48","name":"","group":"f8259f10.93e0a","order":2,"width":"6","height":"6","label":"Frequencies","chartType":"line","legend":"true","xformat":"SSSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999999999999999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":700,"wires":[[]]},{"id":"493fae32.6f347","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"f55fb831.d91698","order":1,"width":"6","height":"6","label":"Raw accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"99999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":800,"wires":[[]]},{"id":"d298b024.309ac","type":"switch","z":"cc7918b2.b73e48","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"Accelerations","vt":"str"},{"t":"eq","v":"Corrected accelerations","vt":"str"},{"t":"eq","v":"Frequencies","vt":"str"},{"t":"eq","v":"Peaks","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":860,"wires":[["51d9ac09.8300a4"],["60a20034.7685c"],["c5bd2de9.c775b"],["e1485af5.fcc9a8"]]},{"id":"e1485af5.fcc9a8","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":920,"wires":[["2890036a.cf6e4c"]]},{"id":"7d23e89e.691348","type":"ui_chart","z":"cc7918b2.b73e48","d":true,"name":"","group":"f55fb831.d91698","order":2,"width":"6","height":"6","label":"Corrected accelerations","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":840,"wires":[[]]},{"id":"2890036a.cf6e4c","type":"ui_text","z":"cc7918b2.b73e48","group":"f55fb831.d91698","order":4,"width":0,"height":0,"name":"","label":"Detected peaks","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":920,"wires":[]},{"id":"51d9ac09.8300a4","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":800,"wires":[["493fae32.6f347"]]},{"id":"60a20034.7685c","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":840,"wires":[["7d23e89e.691348"]]},{"id":"c5bd2de9.c775b","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = msg.payload.observations;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":880,"wires":[["1204896f.25e787"]]},{"id":"1204896f.25e787","type":"ui_chart","z":"cc7918b2.b73e48","name":"","group":"f55fb831.d91698","order":2,"width":"6","height":"6","label":"Frequencies","chartType":"line","legend":"true","xformat":"SSSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"999999999999999999999","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":880,"wires":[[]]},{"id":"37240cad.e4ebf4","type":"ui_button","z":"cfdfc95d.52b548","name":"btStart","group":"4d20d8d2.e25078","order":9,"width":0,"height":0,"passthru":false,"label":"Start measuring","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"1","payloadType":"str","topic":"nodes/startSW","topicType":"str","x":90,"y":1380,"wires":[["49a5ee27.96c46"]]},{"id":"4664698a.543838","type":"mqtt out","z":"cfdfc95d.52b548","name":"","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":590,"y":1380,"wires":[]},{"id":"ad1773b9.0144e","type":"ui_button","z":"cfdfc95d.52b548","name":"btParameters","group":"4d20d8d2.e25078","order":8,"width":0,"height":0,"passthru":false,"label":"Send parameters","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"","payloadType":"str","topic":"nodes/parametersSW","topicType":"str","x":120,"y":1280,"wires":[["7ad6a125.21089"]]},{"id":"458c495e.b8c1a8","type":"mqtt out","z":"cfdfc95d.52b548","name":"","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":590,"y":1280,"wires":[]},{"id":"7ad6a125.21089","type":"function","z":"cfdfc95d.52b548","name":"generateParameters","func":"var statuses = flow.get(\"statuses\") || [];\n\nif(!statuses.includes(\"connected\"))\n{\n    throw \"No nodes waiting for parameters\";\n}\nelse\n{\n    const index = statuses.indexOf(\"connected\");\n    if (index > -1) {\n      statuses.splice(index, 1);\n    }\n\n    var parametersFile={\n        \"sensorTypeList\":[\"Environmental\"],\n        \"parameterMap\":{\n            \"Environmental.WSSType\":flow.get(\"wssType\"),\n            \"Environmental.MeasureEveryNSeconds\":flow.get(\"measureEveryN\")\n        }\n    };\n    msg.payload = parametersFile;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1280,"wires":[["458c495e.b8c1a8","d147bd07.b20e9"]]},{"id":"2ca6d828.cbb8f8","type":"ui_text","z":"cfdfc95d.52b548","group":"4d20d8d2.e25078","order":10,"width":0,"height":0,"name":"error","label":"","format":"<font color=red> {{msg.payload}} </font>","layout":"col-center","x":1070,"y":1500,"wires":[]},{"id":"f875855c.133948","type":"catch","z":"cfdfc95d.52b548","name":"","scope":null,"uncaught":false,"x":100,"y":1500,"wires":[["8b924b56.5bc2d8"]]},{"id":"d914741b.b571e8","type":"debug","z":"cfdfc95d.52b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1560,"wires":[]},{"id":"8b924b56.5bc2d8","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = \"Error: \"+msg.error.message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1500,"wires":[["2ca6d828.cbb8f8","d914741b.b571e8"]]},{"id":"d147bd07.b20e9","type":"function","z":"cfdfc95d.52b548","name":"resetError","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1300,"wires":[["2ca6d828.cbb8f8"]]},{"id":"49a5ee27.96c46","type":"function","z":"cfdfc95d.52b548","name":"sendStartSignal","func":"var statuses = flow.get(\"statuses\") || [];\n\nif(!statuses.includes(\"ready\"))\n{\n    throw \"No nodes ready to start\";\n}\nelse\n{\n    const index = statuses.indexOf(\"ready\");\n    if (index > -1) {\n      statuses.splice(index, 1);\n    }\n\n    msg.payload = \"1\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1380,"wires":[["4664698a.543838","d147bd07.b20e9"]]},{"id":"5806ae29.5abd8","type":"ui_text_input","z":"cfdfc95d.52b548","name":"","label":"Measure every (s)","tooltip":"How often the measurement should be taken (in seconds)","group":"4d20d8d2.e25078","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":270,"y":1140,"wires":[["cba5be0.72a294"]]},{"id":"cba5be0.72a294","type":"change","z":"cfdfc95d.52b548","name":"","rules":[{"t":"set","p":"measureEveryN","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1140,"wires":[[]]},{"id":"5f4ff218.870b7c","type":"inject","z":"cfdfc95d.52b548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":1140,"wires":[["5806ae29.5abd8"]]},{"id":"ea039f9a.12cc6","type":"mqtt in","z":"cfdfc95d.52b548","name":"","topic":"nodes/statusSW/+","qos":"2","datatype":"auto","broker":"cad46d4c.c5de6","nl":false,"rap":true,"rh":0,"x":130,"y":1020,"wires":[["3f4406dc.9d735a","f7719bd8.e920d8"]]},{"id":"fb50bc3.8ffbf4","type":"switch","z":"cfdfc95d.52b548","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"idacrpi1","vt":"str"},{"t":"eq","v":"idacrpi2","vt":"str"},{"t":"eq","v":"idacrpi3","vt":"str"},{"t":"eq","v":"idacrpi4","vt":"str"},{"t":"eq","v":"idacrpi5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":670,"y":1020,"wires":[["27c55785.bf9ca8"],["5fcfd6f0.1f6d58"],["43217677.147498"],["19f92a0b.1510b6"],["4b535e23.cb0b"]]},{"id":"27c55785.bf9ca8","type":"ui_text","z":"cfdfc95d.52b548","group":"4d20d8d2.e25078","order":1,"width":0,"height":0,"name":"IDACRPi1","label":"IDAC RPi 1","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":780,"wires":[]},{"id":"5fcfd6f0.1f6d58","type":"ui_text","z":"cfdfc95d.52b548","group":"4d20d8d2.e25078","order":2,"width":0,"height":0,"name":"IDACRPi2","label":"IDAC RPi 2","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":820,"wires":[]},{"id":"43217677.147498","type":"ui_text","z":"cfdfc95d.52b548","group":"4d20d8d2.e25078","order":3,"width":0,"height":0,"name":"IDACRPi3","label":"IDAC RPi 3","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":860,"wires":[]},{"id":"19f92a0b.1510b6","type":"ui_text","z":"cfdfc95d.52b548","group":"4d20d8d2.e25078","order":4,"width":0,"height":0,"name":"IDACRPi4","label":"IDAC RPi 4","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":900,"wires":[]},{"id":"4b535e23.cb0b","type":"ui_text","z":"cfdfc95d.52b548","group":"4d20d8d2.e25078","order":5,"width":0,"height":0,"name":"IDACRPi5","label":"IDAC RPi 5","format":"{{msg.payload.status}}","layout":"row-spread","x":950,"y":940,"wires":[]},{"id":"3f4406dc.9d735a","type":"json","z":"cfdfc95d.52b548","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1020,"wires":[["9c4583.67d9ea8","f7719bd8.e920d8"]]},{"id":"b2b6e98d.905ff8","type":"inject","z":"cfdfc95d.52b548","name":"echo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"nodes/echoSW","payload":"{\"status\":\"Updating status\"}","payloadType":"json","x":110,"y":780,"wires":[["da3584af.b424c8","1b9d9ae7.21e9c5"]]},{"id":"da3584af.b424c8","type":"mqtt out","z":"cfdfc95d.52b548","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad46d4c.c5de6","x":270,"y":780,"wires":[]},{"id":"1b9d9ae7.21e9c5","type":"function","z":"cfdfc95d.52b548","name":"status_updating","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":740,"wires":[["27c55785.bf9ca8","5fcfd6f0.1f6d58","43217677.147498","19f92a0b.1510b6","4b535e23.cb0b"]]},{"id":"9c4583.67d9ea8","type":"function","z":"cfdfc95d.52b548","name":"update_json","func":"var sensors = \"\";\nfor (let i = 0; i <msg.payload.sensorList.length; i ++) {\n  sensors += msg.payload.sensorList[i].type + \",\";\n}\nmsg.payload.sensors = sensors.slice(0, -1);\nmsg.payload.status = msg.topic.split(\"/\")[2]+\": \"+msg.payload.sensors\n\nvar statuses = flow.get(\"status\") || [msg.topic.split(\"/\")[2]];\nif(!statuses.includes(msg.topic.split(\"/\")[2]))\n{\n    flow.statuses.push(msg.topic.split(\"/\")[2]);\n}\nflow.set(\"statuses\", statuses);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1020,"wires":[["fb50bc3.8ffbf4","d147bd07.b20e9","4affe9b6.e4c9b8","18a031a4.01c8ee"]]},{"id":"f7719bd8.e920d8","type":"debug","z":"cfdfc95d.52b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":940,"wires":[]},{"id":"a0d580ae.cf74f","type":"inject","z":"cfdfc95d.52b548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":900,"wires":[["f7719bd8.e920d8"]]},{"id":"48b89094.17825","type":"change","z":"cfdfc95d.52b548","name":"","rules":[{"t":"set","p":"fromDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1660,"wires":[[]]},{"id":"95ba645f.0dff08","type":"change","z":"cfdfc95d.52b548","name":"","rules":[{"t":"set","p":"toDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1700,"wires":[[]]},{"id":"74d9cd54.41d4a4","type":"ui_button","z":"cfdfc95d.52b548","name":"btDownloadConv","group":"262295cc.c7f14a","order":7,"width":0,"height":0,"passthru":false,"label":"Create conventional WSS measurements file","tooltip":"","color":"","bgcolor":"","icon":"file_download","payload":"1","payloadType":"str","topic":"nodes/start","topicType":"str","x":130,"y":1760,"wires":[["2144360a.31731a"]]},{"id":"1dde03fa.5dd6ac","type":"ui_date_picker","z":"cfdfc95d.52b548","name":"fromDate","label":"From date","group":"262295cc.c7f14a","order":5,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":300,"y":1660,"wires":[["48b89094.17825"]]},{"id":"38337ca3.30d994","type":"ui_date_picker","z":"cfdfc95d.52b548","name":"toDate","label":"To date","group":"262295cc.c7f14a","order":6,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":290,"y":1700,"wires":[["95ba645f.0dff08"]]},{"id":"2144360a.31731a","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload=[new Date(flow.get(\"fromDate\")),\n             new Date(flow.get(\"toDate\"))];\nmsg.topic=\"SELECT sensor_node_ID, campaignTimestamp, timestamp, MAX(CASE WHEN feature LIKE 'Distance%' THEN result END) as Distance, MAX(CASE WHEN feature LIKE 'Temperature%' THEN result END) as Temperature, MAX(CASE WHEN feature like 'Turbidity%' THEN result END) as Turbidity FROM observation WHERE DATE(campaigntimestamp) between DATE(?) AND DATE(?) AND Feature like '%Conventional' GROUP BY sensor_node_ID, campaignTimestamp, timestamp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1760,"wires":[["ffdb9bcd.59e008"]]},{"id":"ffdb9bcd.59e008","type":"mysql","z":"cfdfc95d.52b548","mydb":"6f5d788b.c61ff8","name":"","x":570,"y":1760,"wires":[["1a271436.1c42ec"]]},{"id":"84671ab6.6d48e8","type":"inject","z":"cfdfc95d.52b548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1660,"wires":[["1dde03fa.5dd6ac"]]},{"id":"84db3bff.4a33b8","type":"inject","z":"cfdfc95d.52b548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1700,"wires":[["38337ca3.30d994"]]},{"id":"1a271436.1c42ec","type":"csv","z":"cfdfc95d.52b548","name":"","sep":",","hdrin":"","hdrout":"all","multi":"mult","ret":"\\n","temp":"sensor_node_ID, campaignTimestamp, timestamp, Distance, Temperature, Turbidity","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":1760,"wires":[["d0175c9e.0660f"]]},{"id":"d0175c9e.0660f","type":"file","z":"cfdfc95d.52b548","name":"","filename":"data.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":900,"y":1760,"wires":[["d83f61d3.d1ef"]]},{"id":"c8282e04.67ded","type":"ui_template","z":"cfdfc95d.52b548","group":"262295cc.c7f14a","name":"ui_template - present download links on dashboard","order":0,"width":0,"height":0,"format":"<div >\n    <a href=\"/files/{{msg.payload}}\">{{msg.payload}}</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1090,"y":1880,"wires":[["d147bd07.b20e9"]]},{"id":"ff1ae9ce.4c1408","type":"function","z":"cfdfc95d.52b548","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"/home/idac/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1920,"wires":[["db0f14bd.8b5338"],["7aa68e9b.adff5"]]},{"id":"7aa68e9b.adff5","type":"http response","z":"cfdfc95d.52b548","name":"","statusCode":"","headers":{},"x":630,"y":1960,"wires":[]},{"id":"db0f14bd.8b5338","type":"file in","z":"cfdfc95d.52b548","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":470,"y":1900,"wires":[["7aa68e9b.adff5","41ecfe56.2c0c8"]]},{"id":"eae57a96.ae7b28","type":"http in","z":"cfdfc95d.52b548","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1920,"wires":[["ff1ae9ce.4c1408"]]},{"id":"d83f61d3.d1ef","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = \"data.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1760,"wires":[["c8282e04.67ded"]]},{"id":"41ecfe56.2c0c8","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1880,"wires":[["c8282e04.67ded"]]},{"id":"f62c8264.04117","type":"function","z":"cfdfc95d.52b548","name":"","func":"var buffer=msg.payload.result;\nmsg.payload.result = Math.round(buffer * 100) / 100;\nmsg.payload.resultRaw = buffer;\nmsg.payload.node = msg.topic.split(\"/\")[2]\nmsg.payload.measurement = msg.topic.split(\"/\")[4]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":480,"wires":[["aed5857d.382138","4b7da5f9.423a8c"]]},{"id":"6805299f.3ef308","type":"json","z":"cfdfc95d.52b548","name":"","property":"payload","action":"","pretty":false,"x":430,"y":480,"wires":[["f62c8264.04117"]]},{"id":"78a3dfcd.9bd29","type":"mqtt in","z":"cfdfc95d.52b548","name":"","topic":"nodes/data/+/ScientificWorkingSust/+","qos":"2","datatype":"auto","broker":"cad46d4c.c5de6","nl":false,"rap":true,"rh":0,"x":210,"y":480,"wires":[["6805299f.3ef308"]]},{"id":"aed5857d.382138","type":"switch","z":"cfdfc95d.52b548","name":"node","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"idacrpi1","vt":"str"},{"t":"eq","v":"idacrpi2","vt":"str"},{"t":"eq","v":"idacrpi3","vt":"str"},{"t":"eq","v":"idacrpi4","vt":"str"},{"t":"eq","v":"idacrpi5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":750,"y":480,"wires":[[],[],[],[],["4884235b.89da7c"]]},{"id":"54ade906.630358","type":"ui_chart","z":"cfdfc95d.52b548","name":"","group":"bbd6c134.2600d","order":0,"width":0,"height":0,"label":"Temperature in ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":460,"wires":[[]]},{"id":"2f3d1bab.5ad8d4","type":"ui_chart","z":"cfdfc95d.52b548","name":"","group":"bbd6c134.2600d","order":0,"width":0,"height":0,"label":"Water level in mm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":520,"wires":[[]]},{"id":"cad06562.b683a8","type":"ui_gauge","z":"cfdfc95d.52b548","d":true,"name":"","group":"bbd6c134.2600d","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.result}}","min":"-10","max":"50","colors":["#b30000","#04e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":400,"wires":[]},{"id":"4884235b.89da7c","type":"switch","z":"cfdfc95d.52b548","name":"measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"TemperatureSust","vt":"str"},{"t":"eq","v":"DistanceSust","vt":"str"},{"t":"eq","v":"TurbiditySust","vt":"str"},{"t":"eq","v":"VoltageSust","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":520,"wires":[["cad06562.b683a8","958e0630.1e7448"],["cdf09022.27c75"],["8afb8b7c.fb9128"],["dbb283ae.b1ee5"]]},{"id":"958e0630.1e7448","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":460,"wires":[["54ade906.630358"]]},{"id":"cdf09022.27c75","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":520,"wires":[["2f3d1bab.5ad8d4"]]},{"id":"7acbb245.ef44cc","type":"mysql","z":"cfdfc95d.52b548","mydb":"6f5d788b.c61ff8","name":"","x":710,"y":580,"wires":[[]]},{"id":"4b7da5f9.423a8c","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload=[new Date(msg.payload.campaignTimestamp), \n             msg.payload.measurement + \" - SW sustainable\",\n             new Date(msg.payload.timestamp),\n             parseInt(msg.payload.node.substring(msg.payload.node.length - 1)), \n             msg.payload.resultRaw];\nmsg.topic=\"INSERT INTO observation \"+\n          \"(`campaignTimestamp`, `feature`, `timestamp`, \"+\n          \"`sensor_node_ID`, `result`) VALUES \"+\n          \"(?, ?, ?, ?, ?);\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":580,"wires":[["7acbb245.ef44cc"]]},{"id":"7fc5729d.67365c","type":"ui_chart","z":"cfdfc95d.52b548","name":"","group":"bbd6c134.2600d","order":0,"width":0,"height":0,"label":"Turbidity in NTU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1340,"y":580,"wires":[[]]},{"id":"8afb8b7c.fb9128","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":580,"wires":[["7fc5729d.67365c"]]},{"id":"860fdee6.dcab9","type":"ui_chart","z":"cfdfc95d.52b548","d":true,"name":"","group":"bbd6c134.2600d","order":0,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1320,"y":640,"wires":[[]]},{"id":"dbb283ae.b1ee5","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":640,"wires":[["860fdee6.dcab9"]]},{"id":"4affe9b6.e4c9b8","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":660,"wires":[["cad06562.b683a8","54ade906.630358","2f3d1bab.5ad8d4","7fc5729d.67365c","860fdee6.dcab9"]]},{"id":"7507e443.fd035c","type":"function","z":"cfdfc95d.52b548","name":"","func":"msg.payload=[new Date(flow.get(\"fromDate\")),\n             new Date(flow.get(\"toDate\"))];\nmsg.topic=\"SELECT sensor_node_ID, campaignTimestamp, timestamp, MAX(CASE WHEN feature LIKE 'Distance%' THEN result END) as Distance, MAX(CASE WHEN feature LIKE 'Temperature%' THEN result END) as Temperature, MAX(CASE WHEN feature like 'Turbidity%' THEN result END) as Turbidity FROM observation WHERE DATE(campaigntimestamp) between DATE(?) AND DATE(?) AND Feature like '%Sustainable' GROUP BY sensor_node_ID, campaignTimestamp, timestamp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1800,"wires":[["ffdb9bcd.59e008"]]},{"id":"18c43e4b.dd0fe2","type":"ui_button","z":"cfdfc95d.52b548","name":"btDownloadSust","group":"262295cc.c7f14a","order":7,"width":0,"height":0,"passthru":false,"label":"Create sustainable WSS measurements file","tooltip":"","color":"","bgcolor":"","icon":"file_download","payload":"1","payloadType":"str","topic":"nodes/start","topicType":"str","x":120,"y":1800,"wires":[["7507e443.fd035c"]]},{"id":"63ca4d31.8a9314","type":"ui_dropdown","z":"cfdfc95d.52b548","name":"","label":"WSS type","tooltip":"Select the WSS type","place":"Conventional","group":"4d20d8d2.e25078","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Conventional","value":"Conventional","type":"str"},{"label":"Sustainable","value":"Sustainable","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":240,"y":1200,"wires":[["cb3d2551.b5a418"]]},{"id":"cb3d2551.b5a418","type":"change","z":"cfdfc95d.52b548","name":"","rules":[{"t":"set","p":"wssType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1200,"wires":[[]]},{"id":"d0e9a5.bf4eb658","type":"ui_text_input","z":"1bc6c1c6.6f941e","name":"","label":"Repetitions (0 for no limit)","tooltip":"Number of measurement repetitions. Use 0 for no limit.","group":"1ee07ab.17f3f85","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":310,"y":140,"wires":[["189de224.ae4d3e"]]},{"id":"9ae7aaf.c483358","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":140,"wires":[["d0e9a5.bf4eb658"]]},{"id":"189de224.ae4d3e","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"repetitions","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":140,"wires":[[]]},{"id":"1b56d64d.9ab91a","type":"ui_text_input","z":"1bc6c1c6.6f941e","name":"","label":"Repetitions (0 for no limit)","tooltip":"Number of measurement repetitions. Use 0 for no limit.","group":"203e4083.36ff8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":310,"y":440,"wires":[["ebc26baa.f61468"]]},{"id":"25e449dd.3646e6","type":"inject","z":"1bc6c1c6.6f941e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":440,"wires":[["1b56d64d.9ab91a"]]},{"id":"ebc26baa.f61468","type":"change","z":"1bc6c1c6.6f941e","name":"","rules":[{"t":"set","p":"repetitionsAcc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":440,"wires":[[]]},{"id":"9507e14d.15404","type":"mqtt in","z":"d8566c86.00ffd","name":"","topic":"nodes/status/ready","qos":"2","datatype":"auto","broker":"cad46d4c.c5de6","nl":false,"rap":true,"rh":0,"x":590,"y":880,"wires":[["e291d6a9.c11968"]]},{"id":"e291d6a9.c11968","type":"json","z":"d8566c86.00ffd","name":"","property":"payload","action":"","pretty":false,"x":770,"y":880,"wires":[["1b0602da.05178d"]]},{"id":"1b0602da.05178d","type":"function","z":"d8566c86.00ffd","name":"clear_chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":880,"wires":[["3c8268e0.dbae48","2a203c20.5510f4","1066a744.249fa9","9f2a6d0b.b24dc","bddb407.fd686c","cd7d923b.2c61e","a8de4ccc.a55eb","c5248134.6f0c1","8a55bd9d.53034","46107357.02259c","71e64ff3.c005f","22b4053.f7088fa","79b24a63.362394","7e50580b.4b48b8","9eda1405.6e8078","e5eebd3d.66959","da1766bb.dba4c8","c95e3f12.dcd2a","d4e5ae80.eda66","4e93c447.c299dc"]]},{"id":"3440358c.f397da","type":"mqtt in","z":"cc7918b2.b73e48","name":"","topic":"nodes/status/ready","qos":"2","datatype":"auto","broker":"cad46d4c.c5de6","nl":false,"rap":true,"rh":0,"x":490,"y":400,"wires":[["b3f7a9cf.a47b98"]]},{"id":"b3f7a9cf.a47b98","type":"json","z":"cc7918b2.b73e48","name":"","property":"payload","action":"","pretty":false,"x":670,"y":400,"wires":[["9acbd23b.5d4f4"]]},{"id":"9acbd23b.5d4f4","type":"function","z":"cc7918b2.b73e48","name":"clear_chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":400,"wires":[["eb89d370.e5654","fdd0bc59.9eccf","ae24e499.55d0f8","19cf2d.976aa0d3","69e7feb.6690c","bcdfbe3e.d7715","5241c3ca.3cc13c","99c4457d.bbc2d8","d097353e.892568","95772a92.ff4da8","dd89c179.7848","5a2c7bd6.fc6b74","ce6b63ae.f6025","d7c9cca3.d3485","89a6e7f3.82bbf8","f465c164.0d82e","493fae32.6f347","7d23e89e.691348","1204896f.25e787","2890036a.cf6e4c"]]},{"id":"735d24f3.2473ac","type":"catch","z":"cc7918b2.b73e48","name":"","scope":null,"uncaught":false,"x":100,"y":1000,"wires":[["ee66bedd.8c4a5"]]},{"id":"f38682f3.03634","type":"debug","z":"cc7918b2.b73e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1060,"wires":[]},{"id":"ee66bedd.8c4a5","type":"function","z":"cc7918b2.b73e48","name":"","func":"msg.payload = \"Error: \"+msg.error.message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1000,"wires":[["f38682f3.03634","2b8ab7e2.711ec8"]]},{"id":"2b8ab7e2.711ec8","type":"ui_text","z":"cc7918b2.b73e48","group":"71736591.44c40c","order":1,"width":0,"height":0,"name":"error","label":"","format":"<font color=red> {{msg.payload}} </font>","layout":"col-center","x":550,"y":1000,"wires":[]},{"id":"85f1eaed.cb74a8","type":"inject","z":"cc7918b2.b73e48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":340,"wires":[["9acbd23b.5d4f4"]]}]